# Markdown files (except README.md)
*.md
!README.md
!**/README.md
backend/firebase-credentials.json
codematic-gemini
devpost-gemini
codematic
devpost

# Sensitive files

credentials.json
gcloud_setup_local.sh
backend/.env
frontend/.env

# PDFs
Back Allocation Methodology and Formulas.pdf
sample_report.pdf
printed_report.pdf

# Python
backend/venv
backend/note.txt
backend/test_pubsub.py
backend/*.sh

# Node.js
frontend/.next
frontend/node_modules